$margin: 40px;
.aside {
  .card {
    padding: inherit;
    text-align: center;
    margin: $margin;
    margin-bottom: 0;
    text-transform: uppercase;
    .ant-card-body {
      padding: 30px 0;
    }

  }
  .collapse {
    margin: $margin;
    margin-top: 0;
  }
}