$background: #ffff;
$btnColor: #2ecc71;
$color: #ffff;
$hover: #4CAF50;

.header {
  background-color: $background;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .logo {
    margin:  auto 10px;
    font-family: Monospace;
    img {
      width: 60px;
      height: 45px;
    }
  }
  .menuHeader {
    ul {
      margin: auto;
      text-align: center;
      list-style: none;
      font-weight: 900;
      li {
        display: inline-block;
        margin: 15px 15px;
      }
      li:hover {
        color: $hover
      }
    }
  }
  .buttons {
    margin: auto;
    .trial {
      background-color: $btnColor;
      color: $color;
    }
    button {
      margin: 0 10px;
      font-weight: 900;
    }
  }
}