$color: #ffff;
$background: #3F51B5;
.menu{
  font-weight: 900;
  .items:hover{
    color: $color;
  }
  .ant-menu-item-selected{
    color: $color;
  }
  ul{
    text-align: center;
    list-style: none;
    background-color: $background;
    li{
      margin: 15px 15px;
      color: $color;
      margin: auto;
    }
    li:hover{
      background-color: $color;
    }
  }
}