$color: #fff;
$hoverColor: #4CAF50;
$background: #3F51B5;
.menu {
  font-weight: 900;
  display: flex;
  flex-direction: row;

  .items {
    padding: 15px;
    color: $color;
    cursor: pointer;
  }
  .items:hover {
    color: $hoverColor;
  }
  
}