$color: #ffff;

.selects {
  margin: 10px 0px;
  text-align: center;
  h3 {
    font-weight: 900;
    color:$color;
  }
  .items {
    width: 100%;
  }
  ul {
    list-style-type: none;
    li{
      display: inline-block;
      margin: 0 10px;
    }
  }
  
}