$color: #ffff;
$bgNav: #224cc3;

.selects{
  // display:flex;
  text-align: center;
  h3{
    font-weight: 900;
    color:$color;
  }
  .items{
    background-color: $bgNav;
    width: 100%;
  }
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      margin: 0 10px;
    }
  }
  
}