@import './styles/aside';
@import './styles/header';
@import './styles/menu';
@import './styles/search';
@import './styles/select';
@import './styles/courses';

$background1: #3F51BB;
$background2:#f6fbff;

body {
  margin: 0;
  background-color: $background2; 
}
.navbar {
  background-color: $background1;
}
.body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .aside {
    flex: 1;
  }
  .content {
    flex: 4;
  }
}
