@import './styles/aside';
@import './styles/header';
@import './styles/menu';
@import './styles/search';
@import './styles/select';

body{
  margin: 0;
}
.body{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .aside{
    flex: 1;
  }
  .content{
    flex: 4;
  }
}
